<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask RVS Application-Internals</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rvs_center.css') }}">

<h1>
    <br/>
    <center> Welcome to RVS Internals </center>
</h1>


<div class="wrapper">
    <button
    class="button"
    id = "emp-details">
    Employee Details</button>
</div>

</body>

</html>